#BuenosAires{
    h1{
        margin-top: 1rem;
        color: $colorLetra;
        margin-left: 47%;
    }
    div{
        display: flex;
        height: 900px;
        gap: 1rem;
        margin-bottom: 1rem ;
        & img{
            margin-right: 10%;
            max-width: 800px;
            max-height: 900px;
            border: grey;
        }
    }
    h2{
        color: $colorLetra;
        margin-left: 50%;
        margin-bottom: 2rem;
    }
    p{  
        margin-top: 253px;
        max-width: 800px;
        margin-left: 10%;
        color: $colorLetra;
        font-size: x-large;
        border: solid gray;
        max-height: 365px;
        padding: 1rem;
    }
}
   
@media (max-width:425px) {
    #body{
        display: flex;
    }

    .footer{
        margin-top: 138px;
    }
    
    #BuenosAires {
        h1 {
            margin-left: 25%;
        }

        h2 {
            margin-left: 34%;
        }
        div{
            display: flex;
            flex-direction: column;
            max-height: 700px;
            img{
                margin-left: 3rem;
                margin-top: 190px;
            }
        }

        p{
            margin-top: 3px;
            border: none;
            margin-left: 10px;
        }
    }

    .bsResponsive{
        display: none !important;
    }
}