@mixin titulosEstilos {
    text-align: center;
    color: white;
    text-align: auto;
    border: solid white 1px;
    // background-color: grey;
}

@mixin imagenesGrid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    gap: 1px;
    height: 40vw;
    border: solid white 1px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 33vw);
    grid-auto-flow: row;
    grid-template-areas:
        "nombreEstilo nombreEstilo1 nombreEstilo3"
        "TrimmedBeard Ducktail Beardstache"
        "nombreEstilo4 nombreEstilo5 nombreEstilo6"
        "GaribaldiBeard BeardFade Bandholz";
}

.Beardstache {
    grid-area: Beardstache;

    & img {
        @include imagenesGrid;
    }
}


.Ducktail {
    grid-area: Ducktail;

    & img {
        @include imagenesGrid;
    }
}

.GaribaldiBeard {
    grid-area: GaribaldiBeard;

    & img {
        @include imagenesGrid;
    }
}

.BeardFade {
    grid-area: BeardFade;

    & img {
        @include imagenesGrid;
    }
}

.Bandholz {
    grid-area: Bandholz;

    & img {
        @include imagenesGrid;
    }
}

.TrimmedBeard {
    grid-area: TrimmedBeard;

    & img {
        @include imagenesGrid;
    }
}

.nombreEstilo {
    grid-area: nombreEstilo;
    @include titulosEstilos;

    & h2 {
        margin: $espacioH2;
    }
}

.nombreEstilo1 {
    grid-area: nombreEstilo1;
    @include titulosEstilos;

    & h2 {
        margin: $espacioH2;
    }
}

.nombreEstilo3 {
    grid-area: nombreEstilo3;
    @include titulosEstilos;

    & h2 {
        margin: $espacioH2;
    }
}

.nombreEstilo4 {
    grid-area: nombreEstilo4;
    @include titulosEstilos;

    & h2 {
        margin: $espacioH2;
    }
}

.nombreEstilo5 {
    grid-area: nombreEstilo5;
    @include titulosEstilos;

    & h2 {
        margin: $espacioH2;
    }
}

.nombreEstilo6 {
    grid-area: nombreEstilo6;
    @include titulosEstilos;

    & h2 {
        margin: $espacioH2;
    }
}

@media (max-width:425px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3,33vh);
        grid-auto-flow: row;
        grid-template-areas:
            "nombreEstilo nombreEstilo1 nombreEstilo3"
            "TrimmedBeard Ducktail Beardstache"
            "nombreEstilo4 nombreEstilo5 nombreEstilo6"
            "GaribaldiBeard BeardFade Bandholz";
    }

    .nombreEstilo {
        grid-area: nombreEstilo;

        .h2,
        h2 {
            font-size: $responsiveTamaño;
        }
    }

    .nombreEstilo1 {
        grid-area: nombreEstilo1;

        .h2,
        h2 {
            font-size: $responsiveTamaño;
        }
    }


.nombreEstilo3 {
    grid-area: nombreEstilo3;

    .h2,
    h2 {
        font-size: $responsiveTamaño;
    }
}


.nombreEstilo4 {
    grid-area: nombreEstilo4;
  
    .h2,
    h2 {
        font-size: $responsiveTamaño;
    }
}

.nombreEstilo5 {
    grid-area: nombreEstilo5;
  
    .h2,
    h2 {
        font-size: $responsiveTamaño;
    }
}

.nombreEstilo6 {
    grid-area: nombreEstilo6;
  
    .h2,
    h2 {
        font-size: $responsiveTamaño;
    }
}
}