#Rosario {

    h1 {
        margin-top: 1rem;
        color: $colorLetra;
        margin-left: 45%;
    }

    div {
        display: flex;
        height: 900px;
        gap: 1rem;
        margin-bottom: 1rem;

        & img {
            margin-right: 10%;
            max-width: 800px;
        }
    }

    h2 {
        color: $colorLetra;
        margin-left: 50%;
        margin-bottom: 2rem;
    }

    p {
        margin-top: 170px;
        max-width: 800px;
        margin-left: 10%;
        color: $colorLetra;
        font-size: x-large;
        border: solid gray;
        max-height: 660px;
        padding: 1rem;
    }
}


@media (max-width:425px) {
    #body{
        display: flex;
    }

    .footer{
        margin-top: 818px;
    }
    
    #Rosario {
        h1 {
            margin-left: 25%;
        }

        h2 {
            margin-left: 42%;
        }
        div{
            display: flex;
            flex-direction: column;
            max-height: 700px;
            img{
                margin-right: none;
                margin-left: 3rem;
                margin-top: 585px;
            }
        }

        p{
            margin-top: 3px;
            border: none;
        }
    }
}

